$placeholder: #9d9d9d;
$regPlaceholder: #e0e0e0;
$colorText: #434343;
$colorBlue: #2773ad;
$colorLink: #2773ae;

//@import '_bootstrap';
@import '_reboot';
@import '_typography';
@import '_buttons';
@import '_navigation';
@import '_headers';
@import '_main';
@import '_sections';
@import '_popup';